@{
  Layout = "_Layout";
}

<h1>Add New Vendor</h1>

<form action="/vendors" method="post">
  <div class="form-group">
    <label for="vendorName">Vendor Name</label>
    <input type="text" id="vendorName" name="vendorName" class="form-control">
  </div>
  <div class="form-group">
    <label for="vendorDescription">Description</label>
    <input type="text" id="vendorDescription" name="vendorDescription" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary my-2">Add</button>
</form>

<a class="btn btn-secondary btn-lg m-2" href="/vendors">Vendor List</a>
<a class="btn btn-secondary btn-lg m-2" href="/">Go Home</a>
