@{
  Layout = "_Layout";
}

<div class="text-center pt-5">
  <h1>Welcome to the Vendor Order Tracker for Pierre's Bakery!</h1>

  <a class="btn btn-secondary btn-lg m-2" href="/vendors">Vendor List</a>
  <a class="btn btn-secondary btn-lg m-2" href="/vendors/new">Add New Vendor</a>
  
</div>